.contact-us {
  margin-bottom: 60px;

  @media (min-width: $desktop-width) {
    margin-bottom: 140px;
  }

  &__header {
    @media (min-width: $desktop-width) {
      width: fit-content;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 40px;
      padding-bottom: 85px;
    }
  }

  &__heading {
    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &__description {
    text-align: center;

    @media (min-width: $desktop-width) {
      text-align: left;
      width: 323px;
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  &__container {
    width: 100%;
    min-height: 540px;
    border-radius: 45px;

    @media (min-width: $desktop-width) {
      padding: 60px 0 80px 100px;
      height: 773px;
      background-color: $grey;
      overflow: hidden;
      position: relative;
    }
  }

  &__container .animated-image-js {
    @media (min-width: $desktop-width) {
      position: absolute;
      width: 691.57px;
      height: 648px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url('./img/sun-and-stars.svg');
      top: 70px;
      right: -325px;
      opacity: 0;
    }
  }

  &__wrapper {
    width: 100%;
    padding: 50px;
    background-color: $grey;
    border-radius: 45px;

    @media (min-width: $desktop-width) {
      padding: 0;
      width: 556px;
    }
  }

  &__button {
    margin-top: 30px;
    @media (min-width: $desktop-width) {
      width: 556px;
    }
  }

  &__radio-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    @media (min-width: $desktop-width) {
      justify-content: flex-start;
      gap: 35px;
    }
  }

  &__radio-input div {
    display: flex;
  }

  &__radio-input label {
    display: block;
    position: relative;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
    margin-right: 15px;
    cursor: pointer;
  }

  &__radio-input input[type='checkbox']:checked + label::after {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $green;
    top: 5px;
    left: 5px;
  }

  &__radio-input input[type='checkbox']:not(:checked) + label::after {
    background-color: transparent;
  }

  &__text-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }

  &__text-input div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  &__text-input label {
    @include mxn-font-style(14px);
  }

  &__text-input input {
    width: 100%;
    height: 60px;
    border: 1px solid black;
    border-radius: 14px;
    padding: 18px 20px;
  }

  &__text-input textarea {
    width: 100%;
    height: 132px;
    border: 1px solid black;
    border-radius: 14px;
    padding: 18px 20px;

    @media (min-width: $desktop-width) {
      height: 190px;
    }
  }
}
