@font-face {
  font-family: "Space Grotesk";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Space Grotesk"),
    url('https://mtrenkina.github.io/pozitivus-landing/fonts/SpaceGrotesk-Regular.woff2')
      format('woff2'),
    url('https://mtrenkina.github.io/pozitivus-landing/fonts/SpaceGrotesk-Regular.woff')
      format('woff');
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("Space Grotesk"),
    url('https://mtrenkina.github.io/pozitivus-landing/fonts/SpaceGrotesk-Medium.woff2')
      format('woff2'),
    url('https://mtrenkina.github.io/pozitivus-landing/fonts/SpaceGrotesk-Medium.woff')
      format('woff');
}
