*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  width: $mobile-width;
  font-family: "Space Grotesk", "Arial", sans-serif;
  @include mxn-font-style($baseFontSize, $baseLineHeight, black, 400);

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    @include mxn-font-style($pDescFontSize, $pDescLineHeight);
  }
}

.page-main {
  padding: 0 20px;
  overflow: hidden;

  @media (min-width: $desktop-width) {
    padding: 0 100px;
  }
}