.invitation {
  width: 100%;
  min-height: 370px;
  background-color: $grey;
  border-radius: 45px;
  padding: 50px;
  margin-bottom: 60px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 500px auto;
    padding: 60px;
    position: relative;
  }

  &__wrapper {
    @media (min-width: $desktop-width) {
      grid-area: 1 / 1 / 4 / 2;
    }
  }

  & div.animated-image-js {
    @media (min-width: $desktop-width) {
      content: '';
      position: absolute;
      width: 359px;
      height: 410px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url('./pozitivus-landing/img/invitation.svg');
      top: -20px;
      right: 135px;
      opacity: 0;
    }
  }
}

.ivitation__description {
  padding-bottom: 20px;
}

.ivitation__heading {
  @include mxn-font-style($h3FontSize, 30px, black, 500);
  padding-bottom: 20px;
}

.ivitation__button {
  @media (min-width: $desktop-width) {
    width: 288px;
  }
}

.ivitation__button span {
  @media (max-width: $mobile-width-max) {
    display: none;
  }
}
