.main-nav {
  position: relative;
  padding: 0 20px;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: auto;
    padding: 0 100px;
  }

  &__logo img {
    width: 144px;
    height: 23.61px;

    @media (min-width: $desktop-width) {
      width: 219.54px;
      height: 36px;
    }
  }

  &__logo:hover {
    opacity: 0.6;
  }

  &__wrapper {
    position: absolute;
    background: linear-gradient(white, $grey);
    border-radius: 14px;
    padding: 20px 40px;
    right: 0px;
    width: 100%;

    @media (min-width: $desktop-width) {
      position: static;
      width: auto;
      background: none;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 15px;

    @media (min-width: $desktop-width) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      gap: 20px;
    }
  }

  &__toogle {
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 4px;
    right: 20px;
    z-index: 2;
    border: 0;
    cursor: pointer;
    color: black;
    background-color: transparent;

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--opened &__toogle::before,
  &--opened &__toogle::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    width: 24px;
    height: 2px;
    background-color: currentColor;
  }

  &--opened &__toogle::before {
    transform: translateY(-50%) rotate(45deg);
  }

  &--opened &__toogle::after {
    transform: translateY(-50%) rotate(-45deg);
  }

  &--closed &__toogle::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0;
    width: 24px;
    height: 2px;
    background-color: black;
    box-shadow: 0 8px 0 0 #000, 0 16px 0 0 #000;
  }

  @media (max-width: $mobile-width-max) {
    &--closed &__wrapper {
      display: none;
    }

    &--nojs &__wrapper {
      display: block;
      position: relative;
    }

    &--nojs &__toogle {
      display: none;
    }
  }
}
