@keyframes animMarquee {
  0% {
    transform: translateX(300%);
  }

  100% {
    transform: translateX(-330%);
  }
}

@keyframes animLeftMarquee {
  0% {
    transform: translateX(-330%);
  }
  100% {
    transform: translateX(300%);
  }
}

.partners {
  padding: 60px 0;

  &__list {
    width: 500px;
    @include mxn-list-style;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 20px;
    flex-direction: row;
  }

  &__item {
    width: 146px;
  }

  &__item:nth-child(1),
  &__item:nth-child(2),
  &__item:nth-child(3) {
    animation: animLeftMarquee 10s linear infinite;
    @media (min-width: $desktop-width) {
      animation: none;
    }
  }

  &__item:nth-child(4),
  &__item:nth-child(5),
  &__item:nth-child(6) {
    animation: animMarquee 10s linear infinite;
    @media (min-width: $desktop-width) {
      animation: none;
    }
  }
}

.partners__item {
  & img {
    filter: saturate(0);
  }

  & img:hover {
    filter: none;
  }
}
