.process-list {
  @include mxn-list-style();
  text-align: left;

  &__item {
    width: 100%;
    min-height: 98px;
    background-color: $grey;
    border-radius: 45px;
    border: 1px solid black;
    box-shadow: inset 0 -7px 0;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;

    @media (min-width: $desktop-width) {
      padding: 40px 60px;
      box-shadow: inset 0 -4px 0;
    }
  }

  @keyframes openedItem {
    0% {
      background-color: $grey;
    }
    100% {
      background-color: $green;
    }
  }

  &__item--opened {
    height: fit-content;
    animation: openedItem 0.5s ease-out;
    background-color: $green;
  }

  &__item div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 71px;
    position: relative;

    @media (min-width: $desktop-width) {
      padding-left: 100px;
    }
  }

  &__item div::before {
    content: "01";
    @include mxn-font-style(30px, 30px, black, 500);
    position: absolute;
    width: 38px;
    height: 38px;
    left: 0px;
    top: 0px;

    @media (min-width: $desktop-width) {
      width: 65px;
      height: 70px;
      @include mxn-font-style(60px, 60px, black, 500);
    }
  }

  &__item:nth-child(2) div::before {
    content: "02";
    top: 10px;

    @media (min-width: $desktop-width) {
      top: 0px;
    }
  }

  &__item:nth-child(3) div::before {
    content: "03";
  }

  &__item:nth-child(4) div::before {
    content: "04";
    top: 10px;

    @media (min-width: $desktop-width) {
      top: 0px;
    }
  }

  &__item:nth-child(5) div::before {
    content: "05";
    top: 10px;

    @media (min-width: $desktop-width) {
      top: 0px;
    }
  }

  &__item:nth-child(6) div::before {
    content: "06";
  }

  &__item--opened div {
    padding-bottom: 20px;
  }

  &__item--opened div::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: black;
    bottom: 0;
    left: 0;
  }

  &__heading {
    @include mxn-font-style($h4FontSize, $h4LineHeight, black, 500);
    max-width: 203px;

    @media (min-width: $desktop-width) {
      @include mxn-font-style($h3DescFontSize, $h3DescLineHeight, black, 500);
      max-width: fit-content;
    }
  }

  &__button {
    width: 31px;
    height: 31px;
    cursor: pointer;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url('https://mtrenkina.github.io/pozitivus-landing/img/icons/icon-plus.svg');
    background-size: contain;
    background-color: transparent;

    @media (min-width: $desktop-width) {
      width: 58px;
      height: 58px;
    }
  }

  &__item--opened &__button {
    background-image: url('https://mtrenkina.github.io/pozitivus-landing/img/icons/icon-minus.svg');
  }

  @keyframes list {
    0% {
      transform: translateY(-10%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  &__description {
    display: none;
    animation: list 0.5s ease-out;
  }

  &__item--opened &__description {
    display: block;
    padding-top: 20px;
    padding-bottom: 0;
  }
}
