.slider-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $desktop-width) {
    width: 564px;
    margin: 0 auto;
  }

  &__button {
    cursor: pointer;
    background-color: transparent;
    width: 24px;
    height: 24px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('https://mtrenkina.github.io/pozitivus-landing/img/icons/icon-arrow-left.svg');
  }

  &__button--next {
    background-image: url('https://mtrenkina.github.io/pozitivus-landing/img/icons/icon-arrow-right.svg');
  }

  &__button--blocked {
    opacity: 0.3;
    cursor: auto;
    pointer-events: none;
  }

  &__button:not(.slider-controls__button--blocked) {
    opacity: 1;
    cursor: pointer;
    pointer-events: all;
  }

  .slick-dots {
    @include mxn-list-style;
    width: 146px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .slick-dots button {
    cursor: pointer;
    font-size:0;
    display: block;
    width: 14px;
    height: 14px;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('https://mtrenkina.github.io/pozitivus-landing/img/testimonials/star-white.png');
    }

  .slick-dots li {
    width: 14px;
    height: 14px;
  }

  .slick-active button {
    background-image: url('https://mtrenkina.github.io/pozitivus-landing/img/testimonials/star-green.png');
  }
}
