.slider-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__button {
    cursor: pointer;
    background-color: transparent;
    width: 24px;
    height: 24px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../img/icons/icon-arrow-left.svg');
  }

  &__button--next {
    background-image: url('../../img/icons/icon-arrow-right.svg');
  }

  &__button--blocked {
    opacity: 0.3;
    cursor: auto;
  }

  &__button:not(.slider-controls__button--blocked) {
    opacity: 1;
    cursor: pointer;
  }

  &__wrapper {
    width: 146px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    cursor: pointer;
    width: 14px;
    height: 14px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../img/testimonials/star-white.png');
  }

  & input[type="radio"]:checked+label {
    background-image: url('../../img/testimonials/star-green.png');
  }
}
