//Colors
$green: #B9FF66;
$grey: #F3F3F3;
$dark: #191A23;

//Viewports
$mobile-width: 430px;
$mobile-width-max: 1439px;
$desktop-width: 1440px;

$mobile-max: "max-width: ${mobile-width-max}";
$desktop: "min-width: ${desktop-width}";

//Retina
$retina-dpi: 144dpi;
$retina: "min-resolution: ${retina-dpi}";

//Font parameters
//Mobile
$baseFontSize: 16px;
$baseLineHeight: 24px;

$h1FontSize: 43px;
$h1LineHeight: 64.5px;

$h2FontSize: 36px;
$h2LineHeight: 54px;

$h3FontSize: 26px;
$h3LineHeight: 39px;

$h4FontSize: 18px;
$h4LineHeight: 27px;

//Desctop

$pDescFontSize: 18px;
$pDescLineHeight: 27px;

$h1DescFontSize: 60px;
$h1DescLineHeight: 70px;

$h2DescFontSize: 40px;
$h2DescLineHeight: 60px;

$h3DescFontSize: 30px;
$h3DescLineHeight: 45px;

$h4DescFontSize: 20px;
$h4DescLineHeight: 30px;